# Cadena de conexión a MySQL en Hostinger Business
DATABASE_URL="mysql://u165399624_dba_admin:Gaboomc40%40@srv2141.hstgr.io:3306/u165399624_grupo_dj"

# Clave secreta para JWT/Cookies de sesión Admin
JWT_SECRET="cambia-este-valor-en-produccion"
