---
import AboutCard from "./AboutCard.astro";

const values = [
    {
        title: "Compromiso Centrado en el Cliente",
        description:
            "Entendemos que cada proyecto es único. Escuchamos, analizamos y adaptamos nuestra tecnología para que trabaje a tu favor, no al revés.",
        icon: "lucide:users",
    },
    {
        title: "Transparencia y Cumplimiento",
        description:
            "Como aliados del sector público, operamos bajo los más altos estándares de gobernanza, asegurando procesos auditables, eficientes y alineados con los marcos legales vigentes.",
        icon: "lucide:shield-check",
    },
    {
        title: "Innovación Adaptativa",
        description:
            "No solo implementamos tecnología; creamos soluciones que evolucionan. Desde infraestructura IT hasta consultoría especializada, estamos a la vanguardia de lo que el futuro demanda.",
        icon: "lucide:trending-up",
    },
];
---

<section class="py-20 bg-slate-50 px-4">
    <div class="max-w-7xl mx-auto">
        <div class="text-center max-w-2xl mx-auto mb-16">
            <span
                class="text-primary font-bold uppercase tracking-widest text-sm mb-4 block"
                >¿Por qué elegirnos?</span
            >
            <h2
                class="text-3xl md:text-5xl font-black text-slate-900 uppercase"
            >
                Nuestra propuesta de valor
            </h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {values.map((value) => <AboutCard {...value} />)}
        </div>
    </div>
</section>
